* {margin: 0;padding: 0;outline: 0;}
.navbar {
	    background: #ffb400;
    color: #fff;
    padding: 15px 30px;
}
.userListWrap {display: none;
    background: #fff;
    padding: 10px 20px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px 1px #ccc;}

     .taskListWrap {display: none;
    background: #fff;
    padding: 10px 20px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px 1px #ccc;}