<!DOCTYPE html>
<html>
<head>
	<title>Tset</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
</head>


<body>
	<!-- Header and navbar -->
	<header>
		<nav>
			<div class="navbar">
				<H1>TASK MANAGER</H1> 
				<img src="assets/img/download.jpg" alt="fluper image">
			</div>
		</nav>
	</header>

	<!-- Main Content -->
	<section>
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-3">
					<h3> User Login</h3>
					<form>
						<div class="form-group">
							<label>Email</label>
							<input type="text" name="email" class="form-control login-email-field">
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="password" name="password" class="form-control login-password-field">
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-info userloginBtn" value="Login As user">
							<input type="submit" class="btn btn-info adminloginBtn" value="Login As admin">
						</div>
					</form>
				</div>
				
				<div class="col-md-3">
					<h3>Signup</h3>
					<form>
						<div class="form-group">
							<label>Name</label>
							<input type="text" name="name" class="form-control Signup-name-field">
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="text" name="email" class="form-control signup-email-field">
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="password" name="password" class="form-control signup-password-field">

							<label>contact</label>
							<input type="text " name="contact" class="form-control signup-contact-field">
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-info usersignupBtn" value="Signup As user">
							<input type="submit" class="btn btn-info adminsignupBtn" value="Signup As admin">
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer>
		
	</footer>
	<script type="text/javascript" src="assets/js/jquery.min.js"></script>
	<script type="text/javascript">
		// document ready ============================================//
		// for admin login ===============================================//
		$(document).ready(function(){

			$('.adminloginBtn').click(function(e) {
				e.preventDefault();


				var email = $('.login-email-field').val();
				var password = $('.login-password-field').val();


				
				if ( email.length == 0 ) {
					alert("Email Field is required");
					return false;
				}

				if ( password.length == 0 ) {
					alert("Password Field is required");
					return false;
				}



				var emailRegex = "([a-zA-Z0-9_.]+@[a-zA-Z0-9]+[.a-zA-Z]+)$";

				if(!email.match(emailRegex))
				{
					alert("email format is invalid");
				}


				


				var request = $.ajax({
					"url": "http://localhost:3001/adminlogin",
					"type": "POST",
					"data": {
						"email" : email,
						"password": password
					}
				});

				request.success(function(data){
					console.log(data);
					if ( data.status == 1 ) {
						var userData = data.response;
						console.log(userData);
						localStorage.setItem('user', JSON.stringify(userData));
						 window.location.replace('home.html');
					} else {
						alert("Invalid Credential");
					}
				});

				request.fail(function(error){
					console.log("error");
				});
			});

			 

		});

		//for user login script=======================================//

		$(document).ready(function(){

			$('.userloginBtn').click(function(e) {
				e.preventDefault();


				var email = $('.login-email-field').val();
				var password = $('.login-password-field').val();


				
				if ( email.length == 0 ) {
					alert("Email Field is required");
					return false;
				}

				if ( password.length == 0 ) {
					alert("Password Field is required");
					return false;
				}



				var emailRegex = "([a-zA-Z0-9_.]+@[a-zA-Z0-9]+[.a-zA-Z]+)$";

				if(!email.match(emailRegex))
				{
					alert("email format is invalid");
				}


				


				var request = $.ajax({
					"url": "http://localhost:3001/userlogin",
					"type": "POST",
					"data": {
						"email" : email,
						"password": password
					}
				});

				request.success(function(data){
					console.log(data);
					if ( data.status == 1 ) {
						var userData = data.response;
						console.log(userData);
						localStorage.setItem('user', JSON.stringify(userData));
						 window.location.replace('home1.html');
					} else {
						alert("Invalid Credential");
					}
				});

				request.fail(function(error){
					console.log("error");
				});
			});

			 

		});


		//signup form script//

		$(document).ready(function(){

			$('.usersignupBtn').click(function(e) {
				e.preventDefault();

				var name=$('.Signup-name-field').val();
				var email = $('.signup-email-field').val();
				var password = $('.signup-password-field').val();
				var contact = $('.signup-contact-field').val();


				if ( name.length == 0 ) {
					alert("name  is required");
					return false;
				}
				
				if ( email.length == 0 ) {
					alert("Email Field is required");
					return false;
				}

				if ( password.length == 0 && password.length<8 ) {
					alert("Password Field is required");
					return false;
				}

				var contactRegex = "([0-9])";

				if(contact.length!=10 && !contact.match(contactRegex))
				{
					alert("contact number is invalid");
				}

				var emailRegex = "([a-zA-Z0-9_.]+@[a-zA-Z0-9]+[.a-zA-Z]+)$";

				if(!email.match(emailRegex)) {
					alert("email format is invalid");
					return false;
				}

				var request = $.ajax({
					"url": "http://localhost:3001/usersignup",
					"type": "POST",
					"data": {
						"name" : name,
						"email" : email,
						"password":password, 
						"contact" : contact
					}
				});

				request.success(function(data){
					if ( data == "success" ) {
						window.location.replace('home1.html');
					} else {
						alert("Invalid Credential");
					}
				});

				request.fail(function(error){
					console.log("error");
				});
			});

		});

//====================signup for admin  form script==============//

		$(document).ready(function(){

			$('.adminsignupBtn').click(function(e) {
				e.preventDefault();

				var name=$('.Signup-name-field').val();
				var email = $('.signup-email-field').val();
				var password = $('.signup-password-field').val();
				var contact = $('.signup-contact-field').val();


				if ( name.length == 0 ) {
					alert("name  is required");
					return false;
				}
				
				if ( email.length == 0 ) {
					alert("Email Field is required");
					return false;
				}

				if ( password.length == 0 && password.length>=8 ) {
					alert("Password Field is required and greater than equal to 8");
					return false;
				}

				var contactRegex = "([0-9])";

				if(contact.length!=10 && !contact.match(contactRegex))
				{
					alert("contact number is invalid");
				}

				var emailRegex = "([a-zA-Z0-9_.]+@[a-zA-Z0-9]+[.a-zA-Z]+)$";

				if(!email.match(emailRegex)) {
					alert("email format is invalid");
					return false;
				}

				var request = $.ajax({
					"url": "http://localhost:3001/adminsignup",
					"type": "POST",
					"data": {
						"name" : name,
						"email" : email,
						"password":password, 
						"contact" : contact
					}
				});

				request.success(function(data){
					if ( data == "success" ) {
						window.location.replace('home.html');
					} else {
						alert("Invalid Credential");
					}
				});

				request.fail(function(error){
					console.log("error");
				});
			});

		});



		
		$(window).scroll();
		
		$(window).resize();
	</script>
</body>
</html>